<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Book Store Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">
            <img th:src = "@{/icon2.jpg}" width="20" height="10"/>
                 Book Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/adminHome}">Admin Home</a>
                </li>
                            <li class="nav-item">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Categories
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" th:href="@{/index}" th:text="'All Categories'"></a>
                                    <div th:each="category : ${categories}">
                                        <a class="dropdown-item" th:href="@{/index(categoryId=${category.id})}" th:text="${category.name}"></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>


            </ul>

        </div>
    </div>
</nav>
<br /><br />

<div class="container">
    <div class="row">
        <h1 class="text-center"> Book Store</h1>
    </div>
    <div>
        <th:block th:if="${books == null && books.isEmpty()}">
            There is no books currently in store!
        </th:block>
        <div class="container">
            <div class="row">
                <th:block th:if="${books != null && !books.isEmpty()}">
                    <div th:each="book, iStat : ${books}" class="col-md-4 mb-4">
                        <div class="card" style="color: black; font-family: Arial, sans-serif;background-color:  lightblue;">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${book.name}"></h5>
                                <p class="card-text" th:text="${book.author}"></p>
                                <i class="font-weight-bold align-middle" th:text="${book.price} + ' Rs'"></i>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>